<div class="employeeList">

  <h3>Employee List</h3>

<div class="filterJobTitle">
  <label for="filterJobTitle">Filter by Job Title:</label>
  <input type="text" id="filterJobTitle" [(ngModel)]="filterJobTitle" (input)="applyFilters()">
</div>

<div class="searchName">
  <label for="searchName">Search by Name:</label>
  <input type="text" id="searchName" [(ngModel)]="searchName" (input)="applyFilters()">
</div>

<table border="1">
  <thead>
    <tr>
      <th class="sortEmployees" (click)="sortEmployees('id')">ID</th>
      <th class="sortEmployees"  (click)="sortEmployees('firstName')">First Name</th>
      <th class="sortEmployees"  (click)="sortEmployees('lastName')">Last Name</th>
      <th class="sortEmployees"  (click)="sortEmployees('dateOfBirth')">Date of Birth</th>
      <th class="sortEmployees"  (click)="sortEmployees('jobTitle')">Job Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of paginatedEmployees" ngbTooltip="Click to view details" (click)="openEmployeeModal(employee)">
      <td>{{ employee.id }}</td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.dateOfBirth | date: 'yyyy-MM-dd' }}</td>
      <td>{{ employee.jobTitle }}</td>
    </tr>
  </tbody>
</table>


<div class="pagination" *ngIf="totalPages > 1">
  <button (click)="changePage(1)" [disabled]="currentPage === 1">First</button>
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
  <span *ngFor="let page of getPaginationArray()">
    <button (click)="changePage(page)" [disabled]="currentPage === page">{{ page }}</button>
  </span>
  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
  <button (click)="changePage(totalPages)" [disabled]="currentPage === totalPages">Last</button>
</div>
</div>