<div class="modal-header">
  <h4 class="modal-title">{{ employee.firstName }} {{ employee.lastName }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-4">
      <img [src]="employee.image" alt="Employee Image" class="img-fluid">
    </div>
    <div class="col-md-8">
      <p><strong>Date of Birth:</strong> {{ employee.dateOfBirth | date: 'yyyy-MM-dd' }}</p>
      <p><strong>Job Title:</strong> {{ employee.jobTitle }}</p>
      <p><strong>Recent Projects:</strong> {{ employee.recentProjects }}</p>
      <p><strong>Description:</strong> {{ employee.description }}</p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
</div>
