

<div class="modal-header">
  <h4 class="modal-title">{{ employee.firstName }} {{ employee.lastName }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/profileIcon.jpg" alt="Employee Image" class="img-fluid">
    </div>
    <div class="col-md-8">
      <p><strong>Date of Birth:</strong> {{ employee.dateOfBirth | date: 'dd-MM-yyy' }}</p>
      <p><strong>Job Title:</strong> {{ employee.jobTitle }}</p>
      <p><strong>Department:</strong> Employee department</p>
      <p><strong>Recent Projects:</strong> List of recent projects</p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Close</button>
</div>
