.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

h4.modal-title {
    margin: 0;
}

.modal-body img {
    max-width: 100%;
    border-radius: 4px;
}

.modal-body p {
    margin: 0.5rem 0;
}

button {
    background-color: #1670BE;
    border-radius: 5px;
}

.close {
    border: 2px solid #1670BE;
    background-color: white;
}